#posts
{
    margin-top: 30%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 3%;
    width: 95%;
    border-radius: 10px;
}
#post
{
    text-align: center;
    width: 10%;
    margin-left: 88%;
}